body {

margin:0;
font-family:"Segoe UI", Arial, sans-serif;
background:#f4f6f8;
color:#222;

}



header {

background:#071d3a;
color:white;
padding:30px;

}


.header {

width:85%;
margin:auto;
display:flex;
align-items:center;

}


.seal {

font-size:55px;
margin-right:25px;

}


header h1 {

font-size:42px;
margin:0;

}



nav {

background:white;
padding:18px;
border-bottom:1px solid #ddd;
text-align:center;

}



nav a {

margin:20px;
text-decoration:none;
color:#071d3a;
font-weight:bold;

}



.layout {

width:85%;
margin:auto;
display:flex;
gap:35px;
padding:40px 0;

}



main {

width:75%;

}



aside {

width:25%;
background:white;
padding:25px;
height:max-content;
border:1px solid #ddd;

}




.welcome,
.case,
.documents div {

background:white;
padding:30px;
border:1px solid #ddd;
margin-bottom:25px;

}



input {

width:80%;
padding:15px;
margin-top:20px;
font-size:16px;

}



h2 {

color:#071d3a;

}



.case {

border-left:6px solid #071d3a;

}



table {

width:100%;
border-collapse:collapse;
background:white;

}



th {

background:#071d3a;
color:white;
padding:15px;
text-align:left;

}



td {

padding:15px;
border-bottom:1px solid #ddd;

}



.documents {

display:flex;
gap:20px;

}



.documents div {

width:30%;

}



.documents a {

color:#0645ad;
text-decoration:none;

}



footer {

background:#071d3a;
color:white;
padding:30px;
text-align:center;

}
